<html>

<head>
    <title>华夏边缘离中南海为何那么远？</title>
    <meta charset="utf-8">
    <script src="echarts-master/dist/echarts.js"></script>
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script src="china.js"></script>
    <script src="prov/angular.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <style>
        h1 {
            color: #fff
        }
        
        #bigbig {
            width: 100%;
            background-color: #252525;
            background-size: cover;
            /* position: relative */
        }
        
        #beginning {
            width: 100%;
            height: 400px;
            margin-bottom: 200px;
        }
        
        .first {
            margin: 10px;
            margin-left: 200px;
            margin-right: 200px;
            left: 50px;
            right: 50px;
            line-height: 200%;
            font-size: 16px;
        }
        
        p {
            color: white;
        }
        
        .hide {
            display: none;
        }
        
        .show {
            display: show;
        }
    </style>
</head>

<body>
    <div id="bigbig">
        <div id="beginning">
            <img src="background.jpg" style="width:100%"></img>
            <!--放头图-->
        </div>
        <div class="first">
            <p>一直以来，广东作为一个远离着中原传统文化中心的概念偏居一隅，长期处在一个相对尴尬的华夏边缘的位置。通过对广东籍的曾经当选过历届中央委员和中央候补委员的名单进行调查筛选，我们发现了一些有趣的现象：在数量上来看，广东籍的中央委员少之又少，仅有42人；在根据他们所属的具体民系来看，客家人在中国政治官场上占据了相当的势力；在具体人物分析上来看，我们看到有一些人之间存在着错综复杂的关系。</p>
            <br>
            <p>陈德良被誉为莆田医帮的“鼻祖”。据中国企业家网报道，上世纪80年代，陈德良靠着一张治螨虫的偏方，迅速成为莆田镇从医致富的第一人，其后带着8个徒弟行走江湖，短期内积累下不菲财富。他的弟子们也相继收受门徒，多数沾亲带故，开始原始的资本积累。随着国内医疗市场不断开放，莆田医帮不断进行着艰难的转型之路。2013年11月，新希望集团创始人刘永好、地产商冯仑、华夏医疗集团董事局主席翁国亮牵头成立中国医疗健康产业发展策略联盟，14名会员中有8位莆系老板，他们以联盟之名集体转型，目标锁定医疗行业中的高端领域。</p>
            <br>
            <p>从游走于中下层群体中，利用人们的羞耻之心，治疗性病皮肤病、不孕不育，到如今，面向中上层阶级，主打牙科、眼科、美容、生育等消费需求，引进创投资本，建立连锁帝国，逐渐朝着高端化的方向发展，莆田医帮正极力摆脱因“游医”带来的原罪。</p>
            <br>
            <p>短时间内，外人很难弄清这些莆田的大老板们到底投资了多少家医院。目前有官方认证的，还是2014年国家卫计委主管的《健康报》提到的，全国从事医疗产业的莆田人达6万多、建立的民营医院达8000多家，由此可以一窥莆田医帮的势力。尽管控制了大量的民营资源，莆田医帮的大佬们却始终隐身幕后，旗下的医院看起来毫无联系，同一集团的医院可能名称各异，而名称相同的医院又可能隶属不同集团。</p>
            <br>
            <p>将近40年发展过后，他们又将呈现怎样的面貌？从凤凰网仅公布的400多家莆田系医院名单中，我们也许可以借此一窥莆田医帮所编织的巨大的关系网。</p>
        </div>

        <div class="col-md-5" style="margin-left:180px;background-color:#252525">
            <!-- BodyMap -->
            <div ng-app="dBexampleApp">

                <div ng-controller="dBcontroller">
                    <div class="col-md-8" style="background-color:#252525">
                        <div class="row">
                            <img src="prov/1.jpg" style="width:500px;height:400px; display:block" id="man1" ng-if="getAngdB() >= 0 && getAngdB() < 10">
                            <!--usemap="#myMap"-->
                            <img src="prov/2.jpg" style="width:500px;height:400px; display:block" id="man2" ng-if="getAngdB() >= 10 && getAngdB() < 20">
                            <img src="prov/3.jpg" style="width:500px;height:400px; display:block" id="man3" ng-if="getAngdB() >= 20 && getAngdB() < 31">
                        </div>
                        <div style="margin-left:180px" style="background-color:#252525">
                            <!-- <h4>所属民系:</h4> -->
                            <b style="font-size:25px;color:white;display:inline-block; overflow:hidden; padding-bottom:12.5px; padding-top:2.5px;" ng-if="getAngdB() >= 0 && getAngdB() < 10">客家民系</b>
                            <b style="font-size:25px;color:white;display:inline-block; overflow:hidden; padding-bottom:12.5px; padding-top:2.5px;" ng-if="getAngdB() >= 10 && getAngdB() < 20">广府民系</b>
                            <b style="font-size:25px;color:white;display:inline-block; overflow:hidden; padding-bottom:12.5px; padding-top:2.5px;" ng-if="getAngdB() >= 20 && getAngdB() < 31">潮汕民系</b>
                        </div>
                    </div>
                    <div class="col-md-3" id="show" style="margin-top:130px;">
                        <div class="row">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <label for="dBValue" style="font-size:10px;color:#fff">民系选择</label>
                            <input type="range" ng-change="dBchange()" min="0" max="30" step="10" id="dBValue" value="{{getAngdB()}}" ng-model="AngdB" style="height:100px;width:30px;-webkit-appearance: slider-vertical;" list="tickmarks" orient="vertical">
                            <datalist id="tickmarks">
                                        <option>0</option><option>10</option><option>20</option><option>30</option>
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BodyMap -->
        </div>
        <div class="col-md-4">
            <p class="lead" style="text-align:left;font-size:16px;line-height:200%;">民系，指一个民族内部的分支，分支内部有共同或同类的语言、文化、风俗，相互之间互为认同。其引申生活义用来指同属一个地区有相互认同的人，不一定需要满足符合内部语言、文化、风俗相同的要求，如今民系的概念基本上仅限于中国大陆。
            </p>
            <p class="lead" style="text-align:left;font-size:16px;line-height:200%;">广东省主要是由广府民系、客家民系和潮汕民系组成的，那么整个广东省的语言文化就是由广府文化、客家文化和潮汕文化覆盖着的，三个民系之间的文化传统还是有比较大的差异的，尤其在语言和家庭宗族观念上存在着很大差异。其中广府文化区包括广州、佛山、清远、东莞、深圳、中山、珠海、肇庆、云浮、韶关、阳江、茂名、湛江、江门等副省市或地市，潮汕文化区包括潮州、汕头、汕尾等地市，客家文化区包括梅州、惠州、河源、深圳、揭阳等副省市或地市。
            </p>
        </div>
        <div class="first">
            <p>一直以来，广东作为一个远离着中原传统文化中心的概念偏居一隅，长期处在一个相对尴尬的华夏边缘的位置。通过对广东籍的曾经当选过历届中央委员和中央候补委员的名单进行调查筛选，我们发现了一些有趣的现象：在数量上来看，广东籍的中央委员少之又少，仅有42人；在根据他们所属的具体民系来看，客家人在中国政治官场上占据了相当的势力；在具体人物分析上来看，我们看到有一些人之间存在着错综复杂的关系。</p>
            <br>
            <p>陈德良被誉为莆田医帮的“鼻祖”。据中国企业家网报道，上世纪80年代，陈德良靠着一张治螨虫的偏方，迅速成为莆田镇从医致富的第一人，其后带着8个徒弟行走江湖，短期内积累下不菲财富。他的弟子们也相继收受门徒，多数沾亲带故，开始原始的资本积累。随着国内医疗市场不断开放，莆田医帮不断进行着艰难的转型之路。2013年11月，新希望集团创始人刘永好、地产商冯仑、华夏医疗集团董事局主席翁国亮牵头成立中国医疗健康产业发展策略联盟，14名会员中有8位莆系老板，他们以联盟之名集体转型，目标锁定医疗行业中的高端领域。</p>
            <br>
            <p>从游走于中下层群体中，利用人们的羞耻之心，治疗性病皮肤病、不孕不育，到如今，面向中上层阶级，主打牙科、眼科、美容、生育等消费需求，引进创投资本，建立连锁帝国，逐渐朝着高端化的方向发展，莆田医帮正极力摆脱因“游医”带来的原罪。</p>
            <br>
            <p>短时间内，外人很难弄清这些莆田的大老板们到底投资了多少家医院。目前有官方认证的，还是2014年国家卫计委主管的《健康报》提到的，全国从事医疗产业的莆田人达6万多、建立的民营医院达8000多家，由此可以一窥莆田医帮的势力。尽管控制了大量的民营资源，莆田医帮的大佬们却始终隐身幕后，旗下的医院看起来毫无联系，同一集团的医院可能名称各异，而名称相同的医院又可能隶属不同集团。</p>
            <br>
            <p>将近40年发展过后，他们又将呈现怎样的面貌？从凤凰网仅公布的400多家莆田系医院名单中，我们也许可以借此一窥莆田医帮所编织的巨大的关系网。</p>
        </div>

    </div>



    <!-- Angualr js script for body map -->
    <script>
        var dBexampleApp = angular.module('dBexampleApp', []).controller('dBcontroller', function($scope) {
            $scope.AngdB = 0;

            $scope.getAngdB = function() {
                return $scope.AngdB;
            };
            $scope.dBchange = function() {
                $scope.AngdB = parseInt($scope.AngdB);
            }
        });
    </script>
    <!-- Angualr js script for body map -->

</body>

</html>